<h1>Animals</h1>

<div class="row">
  <div *ngFor="let animal of animals" class="col-md-4">
    <div class="card">
      <img class="card-img-top"
           [src]="animal.imgUrl"
           [alt]="animal.name">
      <div class="card-body">
        <h3 class="card-title">{{animal.type}}</h3>
        <div class="card-text">
          <ul>
            <li>Name: {{animal.name}}</li>
            <li>Age: {{animal.age}}</li>
            <li>Color: {{animal.color}}</li>
            <li>Favorite food: {{animal.favFood}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>